# Databases general configuration

# Database MySql configuration
MYSQL_SSH_ENABLE=false
MYSQL_TYPE_CONN=r2dbc:mysql
MYSQL_HOST=mysql_host
MYSQL_LOCAL_PORT=3306
MYSQL_REMOTE_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=pass_root
MYSQL_SCHEMA=blackjack
MYSQL_FINAL=?serverTimezone=Europe/Madrid

# Database MongoDB configuration
MONGODB_SSH_ENABLE=false
MONGODB_TYPE_CONN=mongodb
MONGODB_HOST=mongo_host
MONGODB_LOCAL_PORT=27017
MONGODB_REMOTE_PORT=27017
MONGODB_USER=root
MONGODB_PASSWORD=pass_root
MONGODB_SCHEMA=blackjack
MONGODB_COLLECTION=blackjack
MONGODB_FINAL=?authSource=admin

# SSH optional
SSH_ENABLE=false
SSH_HOST=127.0.0.1
SSH_HOST_PORT=22
SSH_USER=user
SSH_PASSWORD=pass_user
SSH_PRIVATE_KEY_PATH=
SSH_PRIVATE_KEY_PASSWORD=
